################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Open-WorkBench/CopilotIndices/18.5.39187.10602
/.vs/Open-WorkBench.slnx/FileContentIndex
/.vs
